<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <table border="1">
        <tr>
            {% for item in schema %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
        {% for tuple in table %}
        <tr>
            {% for item in tuple %}
            <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class="footer">{{message}}</div>
</body>

</html>